@model ForgotPasswordViewModel

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" runat="server" media="screen" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    <meta name="author" content="Ethan Partridge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @{
        ViewBag.Title = "Forgot Password";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>

<body>
    <div class="container animated-body">
        <div class="row">
            <div class="col">
                <h1>Forgot Password</h1>
                <hr />
                <form method="post">
                    <div class="form-group">
                        <h4>Email:</h4>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <a asp-action="Login" class="btn btn-danger" id="forgotpassword-cancel">Cancel</a>
                    <button type="submit" class="btn btn-primary" id="forgotpassword-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>