<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" runat="server" media="screen" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    <meta name="author" content="Ethan Partridge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @{
        ViewBag.Title = "Forgot Password Confirmation";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>

<body>
    <div class="container animated-body">
        <div class="row">
            <div class="col">
                <h4>
                    If you have an account with us, we have sent you an email
                    with instructions to reset your password.
                </h4>
            </div>
        </div>
    </div>
</body>