@model Kickit.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" runat="server" media="screen" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    <meta name="author" content="Ethan Partridge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @{
        ViewBag.Title = "Reset Password";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>

<body>
    <div class="container animated-body">
        <div class="row">
            <div class="col">
                <h1>Reset Password</h1>               
                <form method="post" asp-action="ResetPassword">
                    <input asp-for="ResetCode" hidden />
                    <input asp-for="Email" hidden />
                    <label class="resetpassword-label">New Password:</label>
                    <input asp-for="NewPassword" class="resetpassword-input pword" />
                    <br />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <span class="text-danger validation-for-confirm-password"></span>
                    <br />
                    <label class="resetpassword-label">Confirm New Password:</label>
                    <input asp-for="ConfirmPassword" class="resetpassword-input pword-confirm"/>
                    <br />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <br />
                    @if (ViewBag.Message != null)
                    {
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                        <br/>
                    }
                    <input type="submit" id="reset-password-submit" class="btn btn-primary" value="Reset Password" />
                </form>
            </div>
        </div>
    </div>
</body>